.h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
}

.jumbo {
    background-color: rgb(8, 37, 168);
    padding: 50px;
}

.btn {
    background-color: rgb(8, 37, 168);
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    padding: 15px;
    color: white;
}

.center {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(124, 196, 238, 0.568);
    z-index: 0;
}
